<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.140.0-preview" targetFramework="net472" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.140.0-preview" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.140.0-preview" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
</packages>